<nav class="navbar sticky-top navbar-fixed-top navbar-expand-lg navbar-light" style="height: 60px; background-color: transparent;">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: lobster; cursive; font-size: 30px;">Juneja</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer' %}">Customers</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li class="border-white">
            <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="border-white">
            <a href="#">Link</a>
        </li>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>
</nav>